In [5]:
# Plot figures in the notebook (instead of a new window)
%matplotlib notebook

# Automatically reload modules
%load_ext autoreload
%autoreload 2

import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df_channel_music = pd.read_csv("/Volumes/Crucial X6/channels/Music_channels.csv", sep="\t")
df_channel_music["join_date"] = pd.to_datetime(df_channel_music["join_date"])
df_channel_music.head()

,Unnamed: 0,category_cc,join_date,channel,name_cc,subscribers_cc,videos_cc,subscriber_rank_sb,weights
0,6,Music,2014-03-12,UCFFbwnve3yF62-tVXkTyHqg,Zee Music Company,43451109,4241,13.0,2.087
1,9,Music,2006-08-08,UC0C-w0YjGpqDXGB8IHb662A,Ed Sheeran,42000000,154,17.0,2.087
2,11,Music,2007-02-09,UCfM3zsQsOnfWNUppiycmBuw,EminemMusic,39000000,117,20.0,2.087
3,12,Music,2007-01-22,UC9CoOnJkIBMdeijd9qYoT_g,Ariana Grande,38090343,133,23.0,2.087
4,13,Music,2006-09-20,UCqECaJ8Gagnn7YCbPEzWH6g,Taylor Swift,35800000,172,26.0,2.087